.badge {
  background: $orangeRedGradient;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 28px;
  padding: 1px;

  &__inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5px;
    background: $pink;
    padding: 0 12px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }
}
