.heading {
  &--orange {
    color: $orange;
  }

  &--2 {
    font-size: 20px;
  }

  &--3 {
    font-size: 18px;
  }

  &--4 {
    font-size: 16px;
  }

  &--5 {
    font-size: 14px;
  }

  &--6 {
    font-size: 12px;
  }

  &--bold {
    font-weight: 700;
  }
}
