.text {
  font-size: 16px;

  &--small {
    font-size: 14px;
  }

  & > * + * {
    margin-top: 25px;
  }

  a {
    text-decoration: underline;
    color: $white;
    transition: 0.2s opacity;

    &:hover {
      opacity: 0.75;
    }
  }
}
