.tiny-badge {
  width: 44px;
  height: 16px;
  border-radius: 22px;
  background: $black;
  color: $white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
