.footer {
  padding: 48px 0 48px;
  color: $white;
  text-align: center;

  &--bottom {
    padding-bottom: 80px;

    @media (min-width: $largebp) {
      padding-bottom: 110px;
    }
  }

  svg {
    margin: 20px auto 20px;
  }

  &__copy {
    text-transform: uppercase;
    color: $white;
    opacity: 0.3;
    font-size: 14px;
  }

  &__nav {
    margin-bottom: 20px;
    font-family: $font2;
    font-weight: 400;

    @media (min-width: $largebp) {
      display: inline-flex;
      align-items: center;
    }
  }

  li,
  a,
  button {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  li + li {
    margin-top: 5px;

    @media (min-width: $largebp) {
      margin: 0 0 0 40px;
    }
  }
}
