.header {
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  transition:
    0.2s background-color,
    0.2s backdrop-filter;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--blurred-back {
    background: rgba(12, 12, 12, 0.7);
    backdrop-filter: blur(50px);
  }
}

.header-icons {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  @media (min-width: 400px) {
    gap: 20px;
  }

  &__anchor {
    color: $white;
    transition: 0.2s opacity;

    &:hover {
      opacity: 0.75;
    }
  }
}

.header-nav {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  gap: 12px;

  @media (min-width: 400px) {
    gap: 24px;
  }

  &__anchor {
    color: $white;
    transition: 0.2s opacity;
    font-family: $font2;
    font-weight: normal;

    &:hover {
      opacity: 0.75;
    }
  }
}
