.hero {
  position: relative;
  z-index: -1;

  &--padding-normal {
    padding: 140px 0 50px;

    @media (min-width: $largebp) {
      padding: 200px 0 150px;
    }
  }

  &--padding-tight {
    padding: 120px 0 60px;

    @media (min-width: $largebp) {
      padding: 140px 0 110px;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &:before {
    background-image: url("/images/grid.svg");
    opacity: 0.2;
    animation: 10s infinite slideBackgroundUp linear;
    background-size: 40px;

    @media (min-width: $largebp) {
      background-size: 53px;
    }
  }

  &:after {
    background: radial-gradient(
      circle,
      rgba(30, 33, 38, 0) 0%,
      rgba(30, 33, 38, 1) 60%
    );

    @media (min-width: $largebp) {
      background: radial-gradient(
        circle,
        rgba(30, 33, 38, 0) 0%,
        rgba(30, 33, 38, 1) 40%
      );
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
  }
}
