.token-block {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  img {
    margin: 20px auto 24px;
  }

  .button {
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 12px;
    border-radius: 200px;
    line-height: 33px;
    padding: 0 20px;
  }
}
