@for $i from 1 through 20 {
  .mt-#{$i} {
    margin-top: 4px * $i;
  }

  .mb-#{$i} {
    margin-bottom: 4px * $i;
  }

  .mr-#{$i} {
    margin-right: 4px * $i;
  }

  .ml-#{$i} {
    margin-left: 4px * $i;
  }

  .pt-#{$i} {
    padding-top: 4px * $i;
  }

  .pb-#{$i} {
    padding-bottom: 4px * $i;
  }

  .pr-#{$i} {
    padding-right: 4px * $i;
  }

  .pl-#{$i} {
    padding-left: 4px * $i;
  }

  .w-#{$i} {
    width: 4px * $i;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.space-y-1\.25 {
  & > * + * {
    margin-top: 5px;
  }
}

.grid {
  display: grid;
}

.grid-cols-3 {
  @media (min-width: $largebp) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gap-1\.25 {
  gap: 5px;
}

.text-white {
  color: $white;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.border-light {
  border-color: $borderLight;
}

.border-dark {
  border-color: $borderDark;
}

.border-b {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.rounded-full {
  border-radius: 100px;
}

.image {
  width: 100%;
  height: auto;
}

.video-placeholder {
  width: 100%;
  padding-bottom: 77.142%;
  position: relative;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.text-danger {
  color: #b91c1c;
}

.text-sm {
  font-size: 14px;
}

.inline-block {
  display: inline-block;
}

.text-black {
  color: $black;
}

.leaderboard-header {
  &__flex {
    display: flex;
    gap: 10px;
  }
}

.special-text {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
