// Colors
$white: #fcfcfc;
$black: #1e2126;
$bg: #1e2126;
$orangeRedGradient: linear-gradient(
  180deg,
  rgba(255, 138, 0, 1) 0%,
  rgba(255, 15, 0, 1) 100%
);
$pink: #fce9e3;
$yellow: #ffd70e;
$grey: #3e4046;
$pinkYellowGradient: linear-gradient(90deg, #ff00a8 23.66%, #ffd70e 81.72%);
$orange: #ff8a00;
$borderLight: rgba(252, 252, 252, 0.2);
$borderDark: rgba(30, 33, 38, 0.2);

// fonts
$font: "Inter", sans-serif;
$font2: "Expanded", sans-serif;

// Breakpoints
$tinybp: 374px;
$smallbp: 500px;
$smbp: 640px;
$mediumbp: 800px;
$largebp: 960px;
$xlargebp: 1100px;

// Transitions
$fadeOff:
  left 0s 0.2s,
  opacity 0.2s;
$fadeOn:
  left 0s,
  opacity 0.2s;
