.box {
  border-radius: 16px;

  &--white {
    background: $white;
  }

  &--yellow {
    background: $yellow;
  }

  &--grey {
    background: $grey;
  }

  &--padding-none {
    padding: 0;
  }

  &--padding-normal {
    padding: 24px;
  }
}
