@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-flex;
  font-weight: bold;
  border-radius: 6px;
  text-transform: uppercase;
  transition:
    0.2s opacity,
    0.2s color;
  position: relative;

  &:disabled {
    opacity: 0.5;
  }

  &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M7.229 1.173a9.25 9.25 0 1011.655 11.412 1.25 1.25 0 10-2.4-.698 6.75 6.75 0 11-8.506-8.329 1.25 1.25 0 10-.75-2.385z'%3E%3C/path%3E%3C/svg%3E");
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    animation: 2s infinite spinner linear;
    opacity: 0;
    transition: 0.2s opacity;
  }

  &--loading:after {
    opacity: 1;
  }

  // Sizes

  &--s {
    line-height: 32px;
    font-size: 12px;
    padding: 0 20px;
  }

  &--l {
    line-height: 48px;
    font-size: 16px;
    padding: 0 40px;
  }

  // Colors

  &--black {
    background: $black;
    color: $white;
  }

  &--black-gradient {
    background: linear-gradient(180deg, rgba(30, 33, 38, 0.7) 0%, #1e2126 100%),
      #fcfcfc;
    color: $white;
  }

  &--orange-gradient {
    line-height: 46px;
    color: $white;
    border: 1px solid #ff6b00;
    background: linear-gradient(180deg, #ffd70e 0%, #ff0f00 100%);
  }

  // Effects

  &--shadow {
    box-shadow: 0px 3px 0px 0px rgba(252, 252, 252, 0.5) inset;
  }

  // Width

  &--full-width {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &--loading {
    color: transparent;
  }
}
