.by-kongland {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;

  &__by {
    display: block;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: $font2;
  }

  &__kongland {
    margin: 20px auto 0;
    color: #fff;
  }
}
