.marquee {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  &--light {
    color: $white;
  }

  &--dark {
    color: $black;
  }

  &--fade {
    &:after,
    &:before {
      width: 100px;
      height: 100%;
      content: "";
      top: 0;
      content: "";
      position: absolute;
      z-index: 2;

      @media (min-width: $largebp) {
        width: 150px;
      }
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &--light:before {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, $bg 100%);
  }

  &--light:after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $bg 100%);
  }

  &--dark:before {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, $white 100%);
  }

  &--dark:after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $white 100%);
  }

  &__slide {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    animation: 8s infinite slideLeft linear;
  }

  &__text {
    display: inline-flex;
    align-items: center;
  }

  svg,
  img {
    max-width: none;
    display: inline-flex;
    vertical-align: middle;
  }
}

.marquee.marquee--prizes {
  &__slide {
  }

  .prize {
    margin: 0 20px;
  }

  .prize-1 {
    width: calc(253px * 0.5);

    @media (min-width: $largebp) {
      width: 253px;
    }
  }

  .prize-2 {
    width: calc(150px * 0.5);
    @media (min-width: $largebp) {
      width: 150px;
    }
  }

  .prize-3 {
    width: calc(284px * 0.5);
    @media (min-width: $largebp) {
      width: 284px;
    }
  }

  .prize-3\.5 {
    width: calc(200px * 0.5);

    @media (min-width: $largebp) {
      width: 200px;
    }
  }

  .prize-4 {
    width: calc(166px * 0.5);
    @media (min-width: $largebp) {
      width: 166px;
    }
  }

  .prize-5 {
    width: calc(365px * 0.5);
    @media (min-width: $largebp) {
      width: 365px;
    }
  }

  .prize-6 {
    width: calc(180px * 0.5);
    @media (min-width: $largebp) {
      width: 180px;
    }
  }

  .prize-7 {
    width: calc(370px * 0.5);
    @media (min-width: $largebp) {
      width: 370px;
    }
  }

  .prize-8 {
    width: calc(112px * 0.5);
    @media (min-width: $largebp) {
      width: 112px;
    }
  }

  .prize-9 {
    width: calc(220px * 0.5);
    @media (min-width: $largebp) {
      width: 220px;
    }
  }

  .prize-10,
  .prize-11 {
    width: calc(178px * 0.5);
    @media (min-width: $largebp) {
      width: 178px;
    }
  }
}
