.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;

  .plain-badge {
    transform: translateY(-1px);
  }

  &:hover {
    background: $orange;
    border-radius: 200px;
  }
}
