.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  &:hover {
    background: $orange;
    border-radius: 200px;

    .tiny-badge {
      background: transparent;
    }
  }
}
