.text {
  &--xxs {
    font-size: 10px;
  }

  &--xs {
    font-size: 12px;
  }

  &--s {
    font-size: 14px;
  }

  &--l {
    font-size: 18px;
  }

  &--base {
    font-size: 16px;
  }

  &--medium {
    font-weight: 500;
  }

  & > * + * {
    margin-top: 25px;
  }

  a {
    text-decoration: underline;
    color: $white;
    transition: 0.2s opacity;

    &:hover {
      opacity: 0.75;
    }
  }

  &.text-black a {
    color: $black;
  }
}
